<?xml version="1.0" encoding="utf-8" ?>
<Defs>
  
	<XmlExtensions.SettingsMenuDef>
		<modId>imranfish.moodmatters</modId>
		<label>Mood Matters</label>
		<defName>imranfish_moodmatters</defName>
		<tKey>imranfish_moodmatters_title</tKey>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Mood Matters</text>
				<font>Medium</font>
				<anchor>Middle</anchor>
				<tKey>imranfish_moodmatters_title</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine"/>
			<li Class="XmlExtensions.Setting.Text">
				<text>Enable/disable which stats are affected by mood. The smaller number in each of the ranges is the percent multiplier at 0% mood, and the larger number is the percent multiplier at 100% mood. Changes are applied immediately.</text>
				<anchor>Middle</anchor>
				<tKey>imranfish_moodmatters_description</tKey>
			</li>
			
			<!--All mood settings will be injected here-->
			
			<li Class="XmlExtensions.Setting.ResetSettings"/>
		</settings>
		
		<!--DefDatabase operations will be injected here-->
		<postCloseActions/>
	</XmlExtensions.SettingsMenuDef>

</Defs>